@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #000;
	font-family: 'Inter';
}

@layer components {
	.section {
		@apply flex flex-col px-6 py-8 desktopL:px-[12%] desktopL:py-[5rem];
	}
}
