@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #000;
	font-family: 'Inter';
}
html,
body {
	overflow-x: hidden;
}

.overflowNone {
	overflow-y: hidden;
}

@layer components {
	.paddingsY {
		@apply py-8 tablet:py-[7rem] desktopL:py-[5rem];
	}
	.paddingsX {
		@apply px-6 tablet:px-[8%] desktopL:px-[12%];
	}
	.sectionPaddings {
		@apply px-6 py-8 tablet:px-[8%] tablet:py-[7rem] desktopL:px-[12%] desktopL:py-[5rem];
	}
	.maxW {
		@apply max-w-[1093px]
	}
	
	.marginsX {
		@apply mx-6 tablet:mx-[8%] desktopL:mx-[12%]
	}

	.sectionM {
		@apply flex flex-col mx-6 my-8 tablet:mx-[8%] tablet:my-[7rem] desktopL:mx-[12%] desktopL:my-[5rem] desktopL:max-w-[1094px];
	}
	.sectionP {
		@apply flex flex-col sectionPaddings desktopL:max-w-[1094px];
	}

	.letter-spacing {
		letter-spacing: 0.144rem;
	}
}
